{% load static %}
{% block body %}
<html lang="en">
<head>
<title>Inventory Management System|| Add Brand</title>
{% include 'cs.html' %}
</head>
<body>

<!--Header-part-->
{% include 'header.html' %}
{% include 'sidebar.html' %}


<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="{% url 'dashboard' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="add-brand.php" class="tip-bottom">Add Brand</a></div>
  <h1>Add Brand</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Add Brand</h5>
        </div>
        <div class="widget-content nopadding">
          <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
              <label class="control-label">Brand Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="brandname" id="brandname" value="" required='true' />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Status :</label>
              <div class="controls">
                <input type="checkbox"  name="status" id="status" value="1" required="true" />
              </div>
            </div>


            <div class="form-actions">
              <button type="submit" class="btn btn-success" name="submit">Add</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
 </div>
</div>
{% include 'footer.html' %}
{% include 'js.html' %}
</body>
</html>
{% ifequal error "no" %}
<script>
    alert('Brand has been added.');
    window.location=('{% url 'manage_brand' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endifequal %}
{% endblock %}