{% load static %}
{% block body %}
<html lang="en">
<head>
<title>Inventory Management System|| Customer Details</title>
{% include 'cs.html' %}
</head>
<body>
{% include 'header.html' %}
{% include 'sidebar.html' %}
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'dashboard' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="customer-details.php" class="current">Customer Details</a> </div>
    <h1>Customer Details</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">

        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Customer Details</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>Invoice ID</th>
                  <th>Customer Name</th>
                  <th>Mobile Number</th>
                   <th>Payment Mode</th>
                  <th>Order Date</th>

                </tr>
              </thead>
              <tbody>
                {% for i in customer %}
                <tr class="gradeX">
                  <td>{{forloop.counter}}</td>
                  <td>{{i.billingid}}</td>
                  <td>{{i.customername}}</td>
                  <td>{{i.mobileno}}</td>
                  <td>{{i.modeofpayment}}</td>
                  <td>{{i.billingdate}}</td>
                </tr>
                 {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
{% include 'footer.html' %}
<!--end-Footer-part-->
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.ui.custom.js' %}"></script>
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.uniform.js' %}"></script>
<script src="{% static 'admin/js/select2.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/matrix.js' %}"></script>
<script src="{% static 'admin/js/matrix.tables.js' %}"></script>
</body>
</html>
{% endblock %}