{% load custom_filters %}
<!--sidebar-menu-->
<div id="sidebar">
  <ul>
    <li class="active"><a href="{% url 'dashboard' %}"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Category</span></a>
      <ul>

        <li><a href="{% url 'add_category' %}">Add Category</a></li>
        <li><a href="{% url 'manage_category' %}">Manage Category</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-inbox"></i> <span>Sub Category</span></a>
      <ul>

        <li><a href="{% url 'add_subcategory' %}">Add Sub Category</a></li>
        <li><a href="{% url 'manage_subcategory' %}">Manage Sub Category</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Brand</span></a>
      <ul>
        <li><a href="{% url 'add_brand' %}">Add Brand</a></li>
        <li><a href="{% url 'manage_brand' %}">Manage Brand</a></li>

      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Product</span></a>
      <ul>
        <li><a href="{% url 'add_product' %}">Add Product</a></li>
        <li><a href="{% url 'manage_product' %}">Manage Product</a></li>

      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Supplier</span></a>
      <ul>
        <li><a href="{% url 'add_supplier' %}">Add Supplier</a></li>
        <li><a href="{% url 'manage_supplier' %}">Manage Supplier</a></li>

      </ul>
    </li>

    <li> <a href="{% url 'inventory' %}"><i class="icon icon-info-sign"></i> <span>Inventory</span></a>

    </li>


    <li> <a href="{% url 'cart' %}"><i class="icon-shopping-cart"></i> <span>Cart</span><span class="label label-important">{% totalcart %}</span></a>

    </li>
    <li> <a href="{% url 'search' %}"><i class="icon-search"></i> <span>Book Product</span></a>

    </li>
    <li> <a href="{% url 'invoice_search' %}"><i class="icon-search"></i> <span>Search Invoice</span></a>

    </li>
    <li> <a href="{% url 'customer_detail' %}"><i class="icon-group"></i> <span>Customer Detail</span></a>

    </li>
   <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Report</span></a>
      <ul>

        <li><a href="{% url 'stock_report' %}">Stock Report</a></li>

      </ul>
    </li>

  </ul>
</div>
